.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  height: 205px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
}

.list-heading {
  font-weight: 700;
  text-transform: uppercase;
}

.list-blocks,
.list-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-headings .heading {
  font-weight: 700;
  margin: 0 0 8px;
  text-transform: uppercase;
  width: 180px;
}

.list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100%;
  width: 180px;
}

.item {
  margin: 8px 42px 8px 0;
}

label {
  user-select: none;
}

/* sliders */

.filter-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 20px;
  width: 250px;
}

.slider-block {
  margin: 0 0 20px;
}

.slider-block .heading {
  font-weight: 700;
  margin: 0 0 8px;
  text-transform: uppercase;
}

.slider-block .markers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  margin: 5px 6px 0 6px;
  opacity: .7;
}


/* nouislider */

.noUi-handle {
  border-radius: 50% !important;
}

.noUi-handle:before,
.noUi-handle:after {
  content: none !important;
}

.noUi-horizontal {
  height: 12px !important;
}

.noUi-horizontal .noUi-handle {
  width: 21px !important;
  height: 21px !important;
  right: -10px !important;
}

.noUi-target {
  width: calc(100% - 18px) !important;
  margin: auto !important;
}
